.country-list{
    color: white;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font: 1.2em "Fira Sans", sans-serif;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
